@page
@model IndexModel
@{
    ViewData["Title"] = "will";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <meta charset="UTF-8">
</head>


<header>
    <div id="banner">
<img  id="banner1" src="~/wwwroot/css/img/banner2.jpg" />
    </div>

    <nav id="menu">
        <ul>
            <li>
                <a href="index.html">
                    About
                </a>

            </li>
            <li>
                <a href="google.com">
                    Portfolio
                </a>
            </li>
            <li>
                <a href="Contato">
                    Contact
                </a>

            </li>
        </ul>

    </nav>
</header>

<body>
    



</body>

<footer>

    <p align="right">Desenvolvido por Willian Forlin</p>

</footer>

</html>
